# Atividade 1

## Questão 1

Considere a base de dados drinks.csv, disponível em https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv. Essa base de dados contém o consumo médio de bebidas alcoólicas em diversos países. As colunas dessa base são o nome do país (country), consumo de cerveja (beer_servings), destilados (spirit_servings), vinho (wine_servings) e o total de consumo de bebidas alcoólicas para cada pais ('total_litres_of_pure_alcohol'). A(s) coluna(s) que tem distribuição platicúrtica (curtose < 0) é (são): (selecione todas que são verdadeiras)

- [ ] `country`
- [x] `beer_servings`
- [ ] `spirit_servings`
- [ ] `wine_servings`
- [x] `total_litres_of_pure_alcohol`

In [60]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm

In [10]:
drinks = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [140]:
drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [43]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB

In [101]:
drinks.kurt() < 0

beer_servings                    True
spirit_servings                 False
wine_servings                   False
total_litres_of_pure_alcohol     True
dtype: bool

## Questão 2

Considere a base de dados drinks.csv, disponível em https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv. Essa base de dados contém o consumo médio de bebidas alcoólicas em diversos países. As colunas dessa base são o nome do país (country), consumo de cerveja (beer_servings), destilados (spirit_servings), vinho (wine_servings) e o total de consumo de bebidas alcoólicas para cada pais. O tipo de bebida que tem a maior mediana entre todos os países é:
Escolha uma opção:
- [ ] Vinho (wine_servings)
- [x] Cerveja (beer_servings)
- [ ] Destilado (spirit_servings)

In [141]:
consumption = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')
consumption.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [105]:
consumption[['beer_servings', 'spirit_servings', 'wine_servings']].median()

beer_servings      76.0
spirit_servings    56.0
wine_servings       8.0
dtype: float64

## Questão 3

Considere a base de dados disponível em https://raw.githubusercontent.com/schloerke/cranvasOLD/master/files/data/tips.csv. Essa base de dados é sobre o pagamento de contas em um restaurante, e contém como atributos o total da conta (total_bill), a gorjeta (tip), o sexo do cliente pagante (sex), se a mesa estava em uma área de fumantes (smoker), o dia da semana (day), o período (time) e a quantidade de pessoas na mesa (size). Construa duas novas colunas, uma chamada 'tip_percapta' dividindo a gorjeta (tip) por quantidade de pessoas (size) e outra chamada 'tip_percent', dividindo a coluna gorjeta ('tip') pelo total da conta ('total_bill). No pandas, você pode fazer isso facilmente com os comandos

```python
tips['tip_percapita'] = tips['tip']/tips['size']
tips['tip_percent'] = tips['tip']/tips['total_bill']
```
em que tips é o nome do dataframe que armazena os dados. Após a criação dessas duas colunas, calcule a obiquidade (skewnewss) e responda:

A coluna 'tip' tem uma obliquidade **maior** que a coluna 'tip_percapta', e a coluna 'tip' tem uma obliquidade **menor** que a coluna 'tip_percent'.

In [118]:
tips = pd.read_csv('https://raw.githubusercontent.com/schloerke/cranvasOLD/master/files/data/tips.csv', index_col=0)

In [142]:
tips.tail()

,total_bill,tip,sex,smoker,day,time,size,tip_percapita,tip_percent
240,29.03,5.92,Male,No,Sat,Dinner,3,1.973333,0.203927
241,27.18,2.00,Female,Yes,Sat,Dinner,2,1.000000,0.073584
242,22.67,2.00,Male,Yes,Sat,Dinner,2,1.000000,0.088222
243,17.82,1.75,Male,No,Sat,Dinner,2,0.875000,0.098204
244,18.78,3.00,Female,No,Thur,Dinner,2,1.500000,0.159744

In [143]:
tips['tip_percapita'] = tips['tip']/tips['size']
tips['tip_percent'] = tips['tip']/tips['total_bill']
tips.tail()

,total_bill,tip,sex,smoker,day,time,size,tip_percapita,tip_percent
240,29.03,5.92,Male,No,Sat,Dinner,3,1.973333,0.203927
241,27.18,2.00,Female,Yes,Sat,Dinner,2,1.000000,0.073584
242,22.67,2.00,Male,Yes,Sat,Dinner,2,1.000000,0.088222
243,17.82,1.75,Male,No,Sat,Dinner,2,0.875000,0.098204
244,18.78,3.00,Female,No,Thur,Dinner,2,1.500000,0.159744

In [122]:
tips.skew()

total_bill       1.133213
tip              1.465451
size             1.447882
tip_percapita    1.093185
tip_percent      3.349217
dtype: float64

## Questão 4

Considere a base de dados disponível em
https://raw.githubusercontent.com/schloerke/cranvasOLD/master/files/data/chocolates.csv. Essa base de dados contém informações nutricionais sobre diferentes tipos de chocolate, com as colunas nome (Name), fabricante (MFR), país (Country), tipo (Type), caloria (Calories), calorias referente a gordura (CalFat), total de gordura (TotalFat), colesterol (Chol), Sódio (Na), carboidratos (Carb), Fibras (Fiber), açúcares (Sugar), e proteínas (Protein). Para essa base de dados, responda (dica: se estiver usando o pandas, pesquise pelo uso groupby, que pode lhe ajudar em alguns casos).

O desvio padrão da coluna colesterol (Chol) é maior para o tipo (Type) **Milk** , o país (Country) cuja média de acúçar (Sugar) é maior é o **Austria**.

In [124]:
chocolates = pd.read_csv('https://raw.githubusercontent.com/schloerke/cranvasOLD/master/files/data/chocolates.csv')

In [144]:
chocolates.tail()

,Name,MFR,Country,Type,Calories,CalFat,TotFat,SatFat,Chol,Na,Carbs,Fiber,Sugars,Protein
83,Milk Chocolate Square,Ghiradelli,US,Milk,475.000000,250.000000,27.500000,15.000000,12.500000,37.50000,62.500000,5.000000,52.500000,5.000000
84,Symphony Milk Chocolate Bar,Hershey's,US,Milk,530.952381,276.190476,30.476191,18.333333,23.809524,100.00000,58.095238,1.666667,54.047619,8.571429
85,35% Cacao Premium Milk,Hershey's,US,Milk,550.000000,325.000000,37.500000,22.500000,25.000000,75.00000,52.500000,2.500000,50.000000,7.500000
86,41% Cacao Milk Chocolate,Scharffen Berger,US,Milk,465.116279,302.325581,32.558140,20.930233,23.255814,116.27907,48.837209,4.651163,41.860465,7.233327
87,Milk Chocolate,Trader Joe's,US,Milk,520.000000,280.000000,32.000000,18.000000,20.000000,70.00000,58.000000,0.000000,54.000000,6.000000

In [130]:
chocolates.groupby('Type')['Chol'].std()

Type
Dark    7.391411
Milk    9.255840
Name: Chol, dtype: float64

In [135]:
chocolates.groupby('Country')['Sugars'].mean()

Country
Austria        57.537879
Belgium        35.881920
Colombia       37.619048
France         33.777512
German         46.695000
Switzerland    42.662003
UK             21.156293
US             41.570380
Name: Sugars, dtype: float64

## Questão 5

Considere a base de dados disponível em: http://professor.ufabc.edu.br/~ronaldo.prati/MineracaoDados/bases/pima.csv. Essa base de dados contém dados sobre indígenas da etnia Pima (dos EUA), com relação a incidência de diabetes.

- pregnancy: número de gravidezes
- plasma: concentração de glucose no plasma
- diastolic_bp: pressão sanguínea diastólica
- triceps: espessura do trícepes
- insulin: nível de insulana
- bmi: índice de massa corporal
- diabets pedigree: escore do histórico familiar de diabetes
- age: idade
- diagnostic: diagnóstico 0 (não diabético), 1 (diabético)


A quantidade de valores ausentes para o atributo insulin é maior para o diagnóstico **0** .

Remover os registros com valores ausentes **não altera** a média da coluna bmi.

Substituir os valores ausentes pela média **diminui** o desvio padrão da coluna distolic_pb.

In [138]:
pima = pd.read_csv('http://professor.ufabc.edu.br/~ronaldo.prati/MineracaoDados/bases/pima.csv', index_col=0)

In [182]:
pima.head()

,pregnancy,plasma,diastolic_bp,triceps,insulin,bmi,diabets pedigree,age,diagnostic
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [175]:
pima.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pregnancy         768 non-null    int64
 1   plasma            763 non-null    float64
 2   diastolic_bp      733 non-null    float64
 3   triceps           541 non-null    float64
 4   insulin           394 non-null    float64
 5   bmi               757 non-null    float64
 6   diabets pedigree  768 non-null    float64
 7   age               768 non-null    int64
 8   diagnostic        768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 76.2 KB

In [194]:
pima[pima['insulin'].isna()].groupby('diagnostic').size()

diagnostic
0    236
1    138
dtype: int64

In [212]:
print(f"Média de bmi sem remover os valores ausentes: {pima['bmi'].mean()}")
print(f"Média de bmi removendo os valores ausentes:   {pima['bmi'].dropna().mean()}")

Média de bmi sem remover os valores ausentes: 32.457463672391015
Média de bmi removendo os valores ausentes:   32.457463672391015

In [213]:
print(f"Média de diastolic_pb sem alterar os valores ausentes:            {pima['diastolic_bp'].std()}")
print(f"Média de diastolic_pb alterando os valores ausentes para a média: {pima['diastolic_bp'].fillna(pima['diastolic_bp'].mean()).std()}")

Média de diastolic_pb sem alterar os valores ausentes:            12.38215821010526
Média de diastolic_pb alterando os valores ausentes para a média: 12.096346184037937